/* Skills Section */
  .skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    list-style: none;
  }

  .skills-list li {
    background-color: var(--secondary-color);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-weight: 500;
  }

  .skills-search {
    margin-bottom: 20px;
  }

  .skills-search input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  .skills-category {
    margin-bottom: 30px;
  }

  .skills-category ul {
    list-style-type: none;
    padding: 0;
  }

  .skills-category li {
    background-color: var(--secondary-color);
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
  }

  .skill-category:last-child {
    margin-bottom: 0;
  }

  .skill-category h3 {
    margin-bottom: 0.75rem;
    color: var(--font-color);
    font-size: 1.2rem;
    font-weight: 500;
  }


  .skill-item {
  margin-bottom: 0.5rem;
  cursor: pointer;
}



.skill-badges {
  margin-top: 0.25rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.badge {
  background-color: var(--accent-color);
  color: #000;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.85rem;
}

.badge-count {
  font-size: 0.85rem;
  color: var(--font-color);
}

.skill-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}

.chevron {
  display: inline-block;
  margin-left: 10px;
  transition: transform 0.3s ease;
}

.chevron.expanded {
  transform: rotate(180deg);
}